<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="empServiceFacade"
		class="net.plang.hr.emp.sf.EmpServiceFacadeImpl"
		p:empApplicationService-ref="empApplicationService"
		/>
		
	<bean id="empApplicationService"
		class="net.plang.hr.emp.applicationService.EmpApplicationServiceImpl"
		p:employeeDAO-ref="employeeDAO"
		/>
		
	<bean id="employeeDAO"
		class="net.plang.hr.emp.dao.EmployeeDAOImpl"
		parent="iBatisSupportDao"
		/>
		
		
</beans>
