<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="productionServiceFacade"
		class="net.plang.logistics.production.sf.ProductionServiceFacadeImpl"
		p:productionApplicationService-ref="productionApplicationService"
		/>
	<bean id="productionApplicationService"
		class="net.plang.logistics.production.applicationService.ProductionApplicationServiceImpl"
		p:mpsDAO-ref="mpsDAO"
		p:mrpDAO-ref="mrpDAO"
		p:mrpGatheringDAO-ref="mrpGatheringDAO"
		p:workInstructionDAO-ref="workInstructionDAO"
		p:prmDAO-ref="prmDAO"
		p:businessApplicationService-ref="businessApplicationService"
		p:pruchaseApplicationSerivce-ref="purchaseApplicationService"
		/>
	<bean id="mpsDAO"
		class="net.plang.logistics.production.dao.MpsDAOImpl"
		parent="iBatisSupportDao"
		/>

	<bean id="mrpDAO"
		class="net.plang.logistics.production.dao.MrpDAOImpl"
		parent="iBatisSupportDao"
		/>
	<bean id="mrpGatheringDAO"
		class="net.plang.logistics.production.dao.MrpGatheringDAOImpl"
		parent="iBatisSupportDao"
		/>
	<bean id="workInstructionDAO"
		class="net.plang.logistics.production.dao.WorkInstructionDAOImpl"
		parent="iBatisSupportDao"
		/>

	<bean id="prmDAO"
		class="net.plang.logistics.production.dao.PrmDAOImpl"
		parent="iBatisSupportDao"
		/>
</beans>
