<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="purchaseServiceFacade"
          class="net.plang.logistics.purchase.sf.PurchaseServiceFacadeImpl"
          p:purchaseApplicationService-ref="purchaseApplicationService"
    />

    <bean id="purchaseApplicationService"
          class="net.plang.logistics.purchase.applicationService.PurchaseApplicationServiceImpl"
          p:itemDAO-ref="itemDAO"
          p:orderGatheringDAO-ref="orderGatheringDAO"
          p:bomDAO-ref="bomDAO"
          p:orderInfoDAO-ref="orderInfoDAO"
          p:orderDetailDAO-ref="orderDetailDAO"
          p:stockDAO-ref="stockDAO"
          p:productionApplicationService-ref="productionApplicationService"
          p:materialPaymentDAO-ref="materialPaymentDAO"
          p:warehousingDAO-ref="warehousingDAO"
    />

    <bean id="itemDAO"
          class="net.plang.logistics.purchase.dao.ItemDAOImpl"
          parent="iBatisSupportDao"
    />
    <bean id="bomDAO"
          class="net.plang.logistics.purchase.dao.BomDAOImpl"
          parent="iBatisSupportDao"
    />

    <bean id="orderInfoDAO"
          class="net.plang.logistics.purchase.dao.OrderInfoDAOImpl"
          parent="iBatisSupportDao"
    />
    <bean id="orderDetailDAO"
          class="net.plang.logistics.purchase.dao.OrderDetailDAOImpl"
          parent="iBatisSupportDao"
    />
    <bean id="stockDAO"
          class="net.plang.logistics.purchase.dao.StockDAOImpl"
          parent="iBatisSupportDao"
    />

    <bean id="materialPaymentDAO"
          class="net.plang.logistics.purchase.dao.MaterialPaymentDAOImpl"
          parent="iBatisSupportDao"
    />
    <bean id="warehousingDAO"
          class="net.plang.logistics.purchase.dao.WarehousingDAOImpl"
          parent="iBatisSupportDao"
    />
    <bean id="orderGatheringDAO" class="net.plang.logistics.purchase.dao.OrderGatheringDAOImpl"
          parent="iBatisSupportDao"/>
</beans>
