<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.plang.base.dao.CodeDAO">

    <resultMap type="CodeTO" id="codeResult">

        <result property="divisionCodeNo" column="DIVISION_CODE_NO"/>
        <result property="codeType" column="CODE_TYPE"/>
        <result property="divisionCodeName" column="DIVISION_CODE_NAME"/>
        <result property="codeChangeAvailable" column="CODE_CHANGE_AVAILABLE"/>
        <result property="description" column="DESCRIPTION"/>

    </resultMap>
    <select id="selectCodeList" resultMap="codeResult">

        SELECT DIVISION_CODE_NO
             , CODE_TYPE
             , DIVISION_CODE_NAME
             , CODE_CHANGE_AVAILABLE
             , DESCRIPTION
        FROM CODE
        ORDER BY DIVISION_CODE_NO
    </select>
    <select id="getSerialCode" remapResults="true" parameterClass="map" resultClass="string">

        select case when
        <isEqual property="findSeq" compareValue="WIT_SEQ">
            length(WIT_SEQ.NEXTVAL)>3 then to_char(sysdate,'yymmdd')||'-'||lpad(WIT_SEQ.currval,2,0) else
            to_char(sysdate,'yymmdd')||'-'||WIT_SEQ.currval end from dual
        </isEqual>
        <isEqual property="findSeq" compareValue="SERIAL_SEQ">
            length(SERIAL_SEQ.NEXTVAL)>3 then to_char(sysdate,'yymmdd')||'-'||lpad(SERIAL_SEQ.currval,2,0) else
            to_char(sysdate,'yymmdd')||'-'||SERIAL_SEQ.currval end from dual
        </isEqual>
        <isEqual property="findSeq" compareValue="PRM_SEQ">
            length(PRM_SEQ.NEXTVAL)>3 then to_char(sysdate,'yymmdd')||'-'||lpad(PRM_SEQ.currval,2,0) else
            to_char(sysdate,'yymmdd')||'-'||PRM_SEQ.currval end from dual
        </isEqual>
        <isEqual property="findSeq" compareValue="WH_SEQ">
            length(WH_SEQ.NEXTVAL)>3 then to_char(sysdate,'yymmdd')||'-'||lpad(WH_SEQ.currval,2,0) else
            to_char(sysdate,'yymmdd')||'-'||WH_SEQ.currval end from dual
        </isEqual>
        <isEqual property="findSeq" compareValue="RWH_SEQ">
            length(RWH_SEQ.NEXTVAL)>3 then to_char(sysdate,'yymmdd')||'-'||lpad(RWH_SEQ.currval,2,0) else
            to_char(sysdate,'yymmdd')||'-'||RWH_SEQ.currval end from dual
        </isEqual>
    </select>
</mapper>
